.app_profile_wrapper {
  display: flex;

  & > .app_sidebar_wrapper {
    position: fixed;
    left: 0px;
    width: 240px;
    height: 100vh;
    z-index: 1;
    background: var(--themesidebar);
  }

  & > .app_video_content_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 240px;
    position: relative;
    padding-top: 113px;
    width: calc(100% - 240px);

    & > .app_fixed_top_section {
      position: fixed;
      top: 0px;
      right: 0px;
      z-index: 1;
      background: var(--white);
      width: calc(100% - 240px);
      border-bottom: 1px solid var(--themeborder);
    }

    & > .app_all_video_content {
      display: flex;
      padding: 20px 24px 0;
      flex-direction: column;
    }
  }
}
